/* ### CUSTOM PROPERTIES ### */

:root {
  /* # PRIMARY # */
  --pruple-600: hsl(246, 80%, 60%);
  /* work */
  --orange-300: hsl(15, 100%, 70%);
  /* play */
  --blue-300: hsl(195, 74%, 62%);
  /* study */
  --pink-400: hsl(348, 100%, 68%);
  /* exercise */
  --green-400: hsl(145, 58%, 55%);
  /* social */
  --purple-700: hsl(264, 64%, 52%);
  /* self care */
  --yellow-300: hsl(43, 84%, 65%);

  /* # NEUTRAL # */
  --navy-950: hsl(226, 43%, 10%);
  --navy-900: hsl(235, 46%, 20%);
  --pruple-500: hsl(235, 45%, 61%);
  --navy-200: hsl(236, 100%, 87%);

  /* # TYPOGRAPHY # */
  --ff-rubik: "Rubik", sans-serif;
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
}

/* ### CSS RESET ### */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img,
svg,
picture {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

button {
  background: unset;
  border: none;
  font: inherit;
  color: inherit;
}

/* ### GENERAL SYTLING ### */

body {
  background-color: var(--navy-950);
  font-family: var(--ff-rubik);
  font-weight: var(--fw-300);
  color: var(--navy-200);
  font-size: 1.125rem;
}

main {
  padding: 5rem 1rem;
}

/* ### TIME TRACKING DASHBOARD ### */

/* ## INTRO SECTION ## */

.intro-cell {
  background-color: var(--navy-900);
  border-radius: 0.8rem;
}

.intro__header {
  background-color: var(--pruple-600);
  border-radius: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  padding-block: 1.5rem;
}

.profile-pic-container {
  width: 80px;
  border: 3px solid #fff;
  border-radius: 200px;
}

.intro__header .text h1 {
  font-size: 1.4rem;
  font-weight: var(--fw-300);
  color: #f9f9ff;
  margin-top: 0.3rem;
}

.intro__content {
  padding-block: 1.5rem;
}

.intro__content ul {
  display: flex;
  justify-content: space-around;
}

.intro__content button {
  font-weight: var(--fw-400);
}
