/* ### CUSTOM PROPERTIES ### */

:root {
  /* # PRIMARY # */
  --pruple-600: hsl(246, 80%, 60%);
  /* work */
  --orange-300: hsl(15, 100%, 70%);
  /* play */
  --blue-300: hsl(195, 74%, 62%);
  /* study */
  --pink-400: hsl(348, 100%, 68%);
  /* exercise */
  --green-400: hsl(145, 58%, 55%);
  /* social */
  --purple-700: hsl(264, 64%, 52%);
  /* self care */
  --yellow-300: hsl(43, 84%, 65%);

  /* # NEUTRAL # */
  --navy-950: hsl(226, 43%, 10%);
  --navy-900: hsl(235, 46%, 20%);
  --pruple-500: hsl(235, 45%, 61%);
  --navy-200: hsl(236, 100%, 87%);

  /* # TYPOGRAPHY # */
  --ff-rubik: "Rubik", sans-serif;
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
}

/* ### CSS RESET ### */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img,
svg,
picture {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

button {
  background: unset;
  border: none;
  font: inherit;
  color: inherit;
}

/* ### GENERAL SYTLING ### */

body {
  background-color: var(--navy-950);
  font-family: var(--ff-rubik);
  font-weight: var(--fw-300);
  color: var(--navy-200);
  font-size: 1.125rem;
}

main {
  padding: 5rem 1.5rem;
}

/* ### TIME TRACKING DASHBOARD ### */

.time-tracking-dashboard {
  display: grid;
  grid-template-areas:
    "intro-cell"
    "work-cell"
    "play-cell"
    "study-cell"
    "exercise-cell"
    "social-cell"
    "self-care-cell";
  gap: 1.5rem;
}

.work-cell {
  grid-area: work-cell;
}

.play-cell {
  grid-area: play-cell;
}

.study-cell {
  grid-area: study-cell;
}

.exercise-cell {
  grid-area: exercise-cell;
}

.social-cell {
  grid-area: social-cell;
}

.self-care-cell {
  grid-area: self-care-cell;
}

/* ## INTRO SECTION ## */

.intro-cell {
  background-color: var(--navy-900);
  border-radius: 0.8rem;
  grid-area: intro-cell;
}

.intro__header {
  background-color: var(--pruple-600);
  border-radius: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-block: 2.5rem;
}

.profile-pic-container {
  width: 60px;
  border: 3px solid #fff;
  border-radius: 200px;
}

.intro__header .text h1 {
  font-size: 1.6rem;
  font-weight: var(--fw-300);
  color: #f9f9ff;
  margin-top: 0.3rem;
}

.intro__content {
  padding-block: 1.5rem;
}

.intro__content ul {
  display: flex;
  justify-content: space-around;
}

.intro__content button {
  font-weight: var(--fw-400);
  color: var(--pruple-500);
}

.cell {
  border-radius: 0.8rem;
}

.cell__header {
  width: 100%;
  height: 70px;
  /* background-color: deeppink; */
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
  background-repeat: no-repeat;
}

.work-cell .cell__header {
  background-color: var(--orange-300);
  background-image: url(./images/icon-work.svg);
  background-position: top -10px right 20px;
}

.play-cell .cell__header {
  background-color: var(--blue-300);
  background-image: url(./images/icon-play.svg);
  background-position: top -5px right 20px;
}

.study-cell .cell__header {
  background-color: var(--pink-400);
  background-image: url(./images/icon-study.svg);
  background-position: top 0px right 20px;
}

.exercise-cell .cell__header {
  background-color: var(--green-400);
  background-image: url(./images/icon-exercise.svg);
  background-position: top 0px right 20px;
}

.social-cell .cell__header {
  background-color: var(--purple-700);
  background-image: url(./images/icon-social.svg);
  background-position: top -10px right 20px;
}

.self-care-cell .cell__header {
  background-color: var(--yellow-300);
  background-image: url(./images/icon-self-care.svg);
  background-position: top -10px right 20px;
}

.cell__content {
  background-color: var(--navy-900);
  padding: 1.8rem;
  border-radius: 0.8rem;
  margin-top: -26px;
}

.cell-wrapper-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cell-title {
  font-weight: var(--fw-500);
  color: #fff;
  font-size: 1.235rem;
}

.time-display-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.8rem;
}

.time-display {
  color: #fff;
  font-size: 2.125rem;
}

.time-desc {
  font-weight: var(--fw-400);
  font-size: 0.975rem;
}

/* ### MEDIA QUERIES ### */

@media (min-width: 50em) {
  main {
    min-height: 100vh;
    display: grid;
    place-content: center;
  }

  .time-tracking-dashboard {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "intro-cell work-cell play-cell study-cell"
      "intro-cell exercise-cell social-cell self-care-cell";
    max-width: 1000px;
  }

  .intro-cell {
    display: grid;
  }

  .intro__header {
    align-items: flex-start;
    flex-direction: column;
    gap: 2rem;
    padding: 1.8rem 2rem 4rem;
  }

  .intro__header .text h1 {
    font-size: 2.1rem;
  }

  .intro__content {
    padding-inline: 2rem;
  }

  .intro__content ul {
    flex-direction: column;
    gap: 1rem;
  }

  .intro__content ul {
    gap: 1.2rem;
  }

  .profile-pic-container {
    width: 80px;
  }

  .time-display-wrapper {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.4rem;
    margin-top: 1.5rem;
  }

  .time-display {
    font-size: 3rem;
  }
}
